body {
  background-color: hsl(212, 45%, 89%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 320px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 30px;
  padding: 15px;
}

img {
  max-width: 20rem;
  border-radius: 10px;
}

h3 {
  font-family: "Outfit", sans-serif;
  display: flex;
  font-size: 20px;
  justify-content: center;
  text-align: center;
}
p {
  font-family: "Outfit", sans-serif;
  color: hsl(220, 15%, 55%);
  text-align: center;
}
